@import 'reset.css';
@import 'buttons-bootstrap.css';
* * {
  background: #eee;
  background: rgba(0,0,0,0.05);
}
footer {
  text-align: center;
}
.message {
  padding: 20px 20px 20px 40px;
  margin-bottom: 15px;
  border-style: solid;
  border-width: 1px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}
.message.warning {
  background-color: #f8fad5;
  border-color: #e5d35b;
}
.message.error {
  background-color: #f5dfdf;
  border-color: #ce9e9e;
}
.message.info {
  background-color: #dfeff5;
  border-color: #9ebcce;
}
.message.success {
  background-color: #e8f5df;
  border-color: #9ece9e;
}
#wrapper {
  *zoom: 1;
  width: auto;
  max-width: 1024px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
#wrapper:before,
#wrapper:after {
  content: '';
  display: table;
}
#wrapper:after {
  clear: both;
}
.required {
  color: #b90000;
}
textarea {
  width: 810px;
}
form > div.form-content h3 {
  clear: both;
}
form > div.form-content ul {
  display: block;
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}
form > div.form-content ul li {
  float: left;
}
