/*tooltip*/
.tooltip {
  display: none;
  position: absolute;
  border: 1px solid #333;
  background-color: #161616;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 12px Arial;
  z-index: 999;
}
body {
  background-color: #fafafa;
}
body.login {
  background: url("../images/background.png");
}
.required {
  color: #b90000;
}
.form-content {
  *zoom: 1;
}
.form-content:before,
.form-content:after {
  content: '';
  display: table;
}
.form-content:after {
  clear: both;
}
.form-content h3 {
  clear: both;
}
.form-content ul {
  display: block;
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}
.form-content ul li {
  float: left;
  width: 50%;
}
.form-content input[type=submit] {
  display: block;
  float: right;
}
header {
  position: fixed;
  width: 100%;
  height: 62px;
  z-index: 2;
  background-color: #009bd1;
}
header > div,
header > nav {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
header > div:before,
header > nav:before,
header > div:after,
header > nav:after {
  content: '';
  display: table;
}
header > div:after,
header > nav:after {
  clear: both;
}
header > div:last-child,
header > nav:last-child {
  margin-right: 0%;
}
header nav.user-menu > * {
  display: inline;
}
header #clock {
  padding-left: 25px;
  width: 100px;
  background: transparent url("../images/menubar/reloj.png") no-repeat left center;
  background-size: 20px 20px;
  color: #fff;
  font-size: 8pt;
  position: absolute;
  top: 1.5em;
  right: 20px;
  text-align: right;
}
nav.user-menu ul {
  list-style: none;
}
nav.user-menu ul li {
  float: left;
  border-right: 1px solid #515152;
  padding: 1em 10px 1em 32px;
  margin: 8px;
  color: #515152;
}
nav.user-menu ul li a,
nav.user-menu ul li a:hover,
nav.user-menu ul li a:active,
nav.user-menu ul li a:visited {
  color: #515152;
}
nav.user-menu ul li h5 {
  padding: 0;
  margin: 0;
}
nav.user-menu ul li.session-user {
  background: url("../images/menubar/empleado.png") no-repeat;
  background-size: 26px;
}
nav.user-menu ul li.logout {
  background: url("../images/menubar/salir.png") no-repeat;
  background-size: 26px;
}
nav.user-menu ul li:last-child {
  border-right: none;
}
nav.main-menu {
  position: fixed;
  top: 61px;
  left: 0;
  width: 180px;
  z-index: 1;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: -1px 0px 8px #999 inset;
  -moz-box-shadow: -1px 0px 8px #999 inset;
  box-shadow: -1px 0px 8px #999 inset;
  font-weight: bold;
}
nav.main-menu a,
nav.main-menu a:active,
nav.main-menu a:visited {
  color: #000;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 1.2em !important;
}
nav.main-menu ul {
  padding: 0;
  margin: 0;
}
nav.main-menu > ul > li {
  position: relative;
  float: none;
  min-height: 54px;
  border-bottom: 1px solid #ccc;
  font-size: 8pt;
  cursor: pointer;
}
nav.main-menu > ul > li:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dedede));
  background: -moz-linear-gradient(center top, #ededed 5%, #dedede 100%);
  -webkit-box-shadow: -1px 0px 8px #999 inset;
  -moz-box-shadow: -1px 0px 8px #999 inset;
  box-shadow: -1px -1px 5px #ccc inset;
}
nav.main-menu > ul > li > ul {
  display: table-row;
}
nav.main-menu > ul > li > ul:hover li:after {
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -12px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #c7c7c7;
  content: '';
}
nav.main-menu > ul > li > ul > li {
  display: table-cell;
  margin: 0 5px 0 0;
  vertical-align: middle;
  text-align: center;
  text-align: left;
  padding: 0.5em;
}
nav.main-menu > ul > li > ul > li:first-child {
  width: 54px;
}
#wrapper {
  *zoom: 1;
  width: auto;
  max-width: 1060px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin-top: 58px;
  margin-right: 58px;
  margin-left: 235px;
}
#wrapper:before,
#wrapper:after {
  content: '';
  display: table;
}
#wrapper:after {
  clear: both;
}
#wrapper section {
  margin-top: 1em;
  background-color: #fff;
  border-radius: 5px;
}
#wrapper section > h1 {
  color: #fff;
  font-weight: bold;
  font-size: 3em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#wrapper section.login-form {
  *zoom: 1;
  width: auto;
  max-width: 350px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  background-color: transparent;
}
#wrapper section.login-form:before,
#wrapper section.login-form:after {
  content: '';
  display: table;
}
#wrapper section.login-form:after {
  clear: both;
}
#wrapper section.login-form .box-login {
  margin: 20px auto 0 auto;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  padding: 1.5em;
}
#wrapper section.login-form .box-login p {
  font-size: 0.8em;
  font-weight: bold;
}
#wrapper section.login-form .box-login table td.icon-user {
  width: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f4f4f4;
  background-image: url("../images/user.png");
  background-position: center;
  background-repeat: no-repeat;
  webkit-top-left-radius: 5px;
  -webkit-top-left-radius: 5px;
}
#wrapper section.login-form .box-login table td.icon-lock {
  width: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f4f4f4;
  background-image: url("../images/lock.png");
  background-position: center;
  background-repeat: no-repeat;
  webkit-top-left-radius: 5px;
  -webkit-top-left-radius: 5px;
}
#wrapper section.login-form .box-login input {
  font-size: 19px;
  font-weight: bold;
  height: 2em;
  border: 1px solid #f4f4f4;
}
#wrapper section.main a,
#wrapper section.main a:active,
#wrapper section.main a:hover {
  display: block;
  color: #fff;
  width: 100%;
  height: 100%;
}
#wrapper section.main ul {
  *zoom: 1;
  padding: 0;
  list-style: none;
}
#wrapper section.main ul:before,
#wrapper section.main ul:after {
  content: '';
  display: table;
}
#wrapper section.main ul:after {
  clear: both;
}
#wrapper section.main ul li {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  height: 200px;
  float: left;
  background-color: #009bd1;
  text-align: center;
  font-size: 2em;
}
#wrapper section.main ul li:before,
#wrapper section.main ul li:after {
  content: '';
  display: table;
}
#wrapper section.main ul li:after {
  clear: both;
}
#wrapper section.main ul li:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
#wrapper section.main ul li:nth-child(2n + 1) {
  clear: both;
}
#wrapper section.main ul li span {
  font-size: 3em;
}
#wrapper section.main ul li p {
  text-align: center;
  font-size: 14px;
}
#wrapper section.request #stundet-info {
  background-color: #47a447;
}
#wrapper.center {
  *zoom: 1;
  width: auto;
  max-width: 1060px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
#wrapper.center:before,
#wrapper.center:after {
  content: '';
  display: table;
}
#wrapper.center:after {
  clear: both;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1.5em 0;
  border-top: 1px solid #ccc;
  background-color: #f4f4f4;
  color: #000;
  text-align: center;
  font-size: 12px;
}
@media screen and (max-width: 1100px) {
  #wrapper {
    margin-left: 155px;
    margin-right: 38px;
  }
  nav.main-menu {
    width: 120px;
  }
  nav.main-menu a,
  nav.main-menu a:active,
  nav.main-menu a:visited {
    font-weight: normal;
    font-size: 0.9em !important;
  }
  nav.main-menu> ul > li {
    height: 100%;
  }
  nav.main-menu> ul > li>ul>li:first-child {
    width: 32px;
  }
}
