@import 'reset.css'
@import '_settings'
@import 'jeet'

*
    edit()

footer
    text-align center

//Mensajes de alerta
.message
    padding: 20px 20px 20px 40px
    margin-bottom: 15px
    border-style: solid
    border-width: 1px
    background-position: 10px 10px
    background-repeat: no-repeat
    &.warning
        background-color: #f8fad5
        border-color: #e5d35b
    &.error
        background-color: #f5dfdf;
        border-color: #ce9e9e;
    &.info
        background-color: #dfeff5;
        border-color: #9ebcce;
    &.success
        background-color: #e8f5df;
        border-color: #9ece9e;

//Contenedor Principal
#wrapper
    center(1024px);