@import 'reset.css';
footer {
  text-align: center;
}
a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
.message {
  padding: 20px 20px 20px 40px;
  margin-bottom: 15px;
  border-style: solid;
  border-width: 1px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}
.message.warning {
  background-color: #f8fad5;
  border-color: #e5d35b;
}
.message.error {
  background-color: #f5dfdf;
  border-color: #ce9e9e;
}
.message.info {
  background-color: #dfeff5;
  border-color: #9ebcce;
}
.message.success {
  background-color: #e8f5df;
  border-color: #9ece9e;
}
body {
  background-color: #fafafa;
}
form > div.form-content h3 {
  clear: both;
}
form > div.form-content ul {
  display: block;
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}
form > div.form-content ul li {
  float: left;
}
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 62px;
  z-index: 2;
  background-color: #009bd1;
}
nav.user-menu > * {
  display: inline;
  float: left;
}
nav.main-menu {
  position: fixed;
  top: 61px;
  left: 0;
  width: 180px;
  z-index: 1;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: -1px 0px 8px #999 inset;
  -moz-box-shadow: -1px 0px 8px #999 inset;
  box-shadow: -1px 0px 8px #999 inset;
  font-weight: bold;
}
nav.main-menu a,
nav.main-menu a:active,
nav.main-menu a:visited {
  color: #000;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 1.2em !important;
}
nav.main-menu ul {
  padding: 0;
  margin: 0;
}
nav.main-menu > ul > li {
  position: relative;
  float: none;
  min-height: 54px;
  border-bottom: 1px solid #ccc;
  font-size: 8pt;
  cursor: pointer;
}
nav.main-menu > ul > li:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dedede));
  background: -moz-linear-gradient(center top, #ededed 5%, #dedede 100%);
  -webkit-box-shadow: -1px 0px 8px #999 inset;
  -moz-box-shadow: -1px 0px 8px #999 inset;
  box-shadow: -1px -1px 5px #ccc inset;
}
nav.main-menu > ul > li > ul {
  display: table-row;
}
nav.main-menu > ul > li > ul:hover li:after {
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -12px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #c7c7c7;
  content: '';
}
nav.main-menu > ul > li > ul > li {
  display: table-cell;
  margin: 0 5px 0 0;
  vertical-align: middle;
  text-align: center;
  text-align: left;
  padding: 0.5em;
}
nav.main-menu > ul > li > ul > li:first-child {
  width: 54px;
}
#wrapper {
  *zoom: 1;
  width: auto;
  max-width: 1060px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin-top: 58px;
  margin-right: 58px;
  margin-left: 235px;
}
#wrapper:before,
#wrapper:after {
  content: '';
  display: table;
}
#wrapper:after {
  clear: both;
}
#wrapper section {
  margin-top: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
footer {
  position: fixed;
  left: 155px;
  right: 0;
  bottom: 0;
  padding: 1.5em 0;
  min-width: 918px;
  border-top: 1px solid #ccc;
  background-color: #f4f4f4;
  color: #000;
  text-align: center;
  font-size: 12px;
}
@media screen and (max-width: 1100px) {
  #wrapper {
    margin-left: 155px;
    margin-right: 38px;
  }
  nav.main-menu {
    width: 120px;
  }
  nav.main-menu a,
  nav.main-menu a:active,
  nav.main-menu a:visited {
    font-weight: normal;
    font-size: 0.9em !important;
  }
  nav.main-menu> ul > li {
    height: 100%;
  }
  nav.main-menu> ul > li>ul>li:first-child {
    width: 32px;
  }
}
