@media screen
	.btn
		margin-top 2em
	body
		text-align center
		table
			width 100%
			tbody
				.tr-hidden
					display none;
				td.expand
					cursor pointer
	#canvas
		margin 0 auto



@media print
	.btn
		display none
	.tr-hidden
		display table-row;